/* General styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:ital,wght@0,500;0,700;1,600&display=swap');

html{
    font-size: 10px;
    overflow-x: hidden;
}

body{
    background-color:aliceblue;
    overflow-x: hidden;
}

section{
    padding: 100px 0;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,h2,h3,h4{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 4em;
    font-size: 1.8rem;
}

a{
    display: inline-block;
    text-decoration: none;
}

/* navigation styles */
nav{
    padding: 2rem 0;
    margin-bottom: 0;
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    margin-top: 2rem;
    font-size: 2.2rem;
    font-family: 'Poppins';
}

.nav__desc{
    font-size: 1.8rem;
    text-align: left;
    margin-top: -3rem;
}

.nav__list li{
    display: inline-block;
    margin: 0 1rem;
}

.nav__list .nav__link {
    font-size: 1.8rem;
    font-family: 'Poppins';
    color: black;
    padding: 0.5rem;
}

.nav__list li:hover .nav__link{
    color: green;
} 

.btn{
    color: green;
    font-family: 'Poppins';
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
}

.primary-btn{
    color: white;
    background-color: green;
}

/* Footer styles */
footer{
    background-color:aquamarine;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer__wrapper{
    display: flex;
    flex-direction: row;
}

.footer__col1{
    flex: 2;
    margin-top: 2rem;
    list-style-type: none;
}

.footer__text{
    list-style-type: none;
}
.footer__logo{
    font-size: 1.8rem;
    font-family: 'Poppins';
    margin-bottom: 5rem;
    color: black;
}

.footer__col2,
.footer__col3{
    flex: 1;
    list-style-type: none;
}

.footer__desc{
    max-width: 300px;
    font-size: 1.8rem;
    margin-top: -7rem;
    margin-bottom: 5rem;
    color: black;
}

.footer__text__title{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.footer__text a{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-left: -3.5rem;
    font-family: 'Poppins';
    font-weight: 500;
}

.footer__text li:hover .footer__link{
    color: green;
} 

/* Main section styles */
.main__wrapper{
    display: flex;
    flex-direction: row;
}

.main__left__wrapper{
    max-width: 360px;
}

.main__heading{
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 1.4em;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: -8rem;
    text-align: left;
}

.main__left{
    flex: 3;
}

.main__right{
    flex: 4;
}

.main__left__list{
    list-style-type: none;
}
.main__list__element{
    font-size: 2rem;
    color: black;
}