.modal-content{
    border-radius: 10px;
}

#submitBtn{
    text-align: right;
}

#editSaveBtn, #createSaveBtn{
    height: 40px;
    width: 60px;
    border-radius: 20px;
}

#editDropDown, #DropDown{
    margin-bottom: 15px;
}

#div3, #divc{
    display: flex;
}

#edit-record-file, #record-file{
    height: 30px;
}

/* #edit-start-rec, #start-rec{
    border-radius: 10px;
    height: 30px;
    margin: 5px;
}

#edit-stop-rec, #stop-rec{
    border-radius: 10px;
    height: 30px;
    margin: 5px;
} */

.rec-btn {
    width: 70px;
    height: 30px;
    margin-right: 5px;
    border-radius: 10px;
}

.blink {
    color: red;
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    display: inline;
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}