.card {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-text {
    text-align: left;
}

.btn {
    margin-bottom: 6px;
}