.profileTitle {
    text-align: center;
    padding-bottom: 10px;
}

#main {
    padding:0px;
}

.form-group{
    padding-bottom: 20px;
}

.col-lg-12 {
    font-weight: 500;
    text-align:center;
}

#formAlign {
    width:50%;
    margin:0 auto;
    margin-bottom:20px;
    text-align: center;
}
label {
    text-align:center;
    font-weight: 400;
    font-size: 14px;
}

.form-control-lg {
    text-align:center;
}

.button-group {
    text-align: center;
}

.cardb{
border-radius: 15px;
width:500px;
margin-left:115;
}
.lbl{
align-items:center;
font-weight: 500;
margin-top:8px;
margin-bottom:8px;
}

body {
    background: rgb(240, 248, 255)
}

.labels {
    font-size: 11px
}

.firname{
font-weight: 500;
margin-top:8px;
margin-bottom:8px;
}

