{% extends "home/baseHome.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="/static/css/homePage.css"/>
{% endblock %}

{% block script %}


  {% if MissingInfo %}
      <script type="text/javascript">
      window.onload = function () {
          OpenBootstrapPopup();
      };
      function OpenBootstrapPopup() {
          $("#exampleModal").modal('show');
      }
  </script>
  {% endif %}

  <script>
    var wconfig = {
      type: 'pie',
      data: {
        datasets: [
        {
          data: [{{num_completed_jobs}}, {{num_progress_jobs}}, {{num_review_jobs}}],
          backgroundColor: ['#72b4eb', '#8464a0', '#cea9bc'],
          borderColor: '#323232',
          label: 'Jobs'
        }],
        labels: ['Completed','In Progress', 'In Review']
      },
      options: {
        responsive: true
      }
    };

    var cconfig = {
      type: 'pie',
      data: {
        datasets: [{
          data: [{{ num_created_jobs }}, {{num_completed_jobs}}, {{num_progress_jobs}}, {{num_open_jobs}}, {{num_review_jobs}}],
          backgroundColor: ['#2085ec ','#72b4eb', '#0a417a ', '#8464a0 ', '#cea9bc '],
          borderColor: '#323232 ',
          label: 'Jobs'
        }],
        labels: ['Created','Completed','In Progress','Available', 'In Review']
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      if({{num_created_jobs}} == 0){
        window.myPie = new Chart(ctx, wconfig);
      }else{
        window.myPie = new Chart(ctx, cconfig);
      }
    };

  </script>

{% endblock %}

{% block title %} Audio Bid {% endblock title%}
{% block content %}
{% load socialaccount %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

<!--Main section-->
{% if user.is_authenticated %}
<section id="main" class="loggedIn">
    <div class="container">
      {% if user.profile.role == 'worker' %}
        <div class="main__wrapper">
          <div class="main__left">
            <h1 class="main__heading">Welcome {{ user.first_name }}!</h1>
            <div class="main__welcome">
              <ul class="main__left__list">
                <li><h1 class="main_list_element">In Progress Jobs: {{num_progress_jobs}}</h1></li>
                <li><h1 class="main_list_element">In Review Jobs: {{num_review_jobs}}</h1></li>    
                <li><h1 class="main_list_element">Completed Jobs: {{num_completed_jobs}}</h1></li>    
              </ul> 
            </div>
            <div id="container" style="width: 20%;" class="main__piechart__container">
              <canvas id="pie-chart"></canvas>
            </div>
            
          </div>
        </div>
      {% elif user.profile.role == 'creator' %}
        <div class="main__wrapper">
          <div class="main__left" >
            <h1 class="main__heading">Welcome {{ user.first_name }}!</h1>
            <div class="main__welcome">
              <ul class="main__left__list">
                <li><h1 class="main__list__element">Created Jobs: {{ num_created_jobs }}</h1></li>
                <li><h1 class="main__list__element">Available Jobs: {{num_open_jobs}}</h1></li>
                <li><h1 class="main__list__element">In Progress Jobs: {{num_progress_jobs}}</h1></li>
                <li><h1 class="main__list__element">In Review Jobs: {{num_review_jobs}}</h1></li> 
                <li><h1 class="main__list__element">Completed Jobs: {{num_completed_jobs}}</h1></li>              
              </ul> 
            </div>
            <div id="container" style="width: 20%;" class="main__piechart__container">
              <canvas id="pie-chart" ></canvas>
            </div>

          </div>
        </div>
      {% endif %}
    </div>
  <!-- Modal -->
  <div class="modal fade" data-backdrop="static" id="exampleModal" tabindex="-1" role="dialog"
       aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class=" alert alert-warning alert-top-message alert-dismissible fade show"
                 role="alert"><h5>Please fill out the missing info below.</h5>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Finish Profile</h2>
        </div>
        <div class="modal-body">
          <div class="form sign-in">
            <form method="post" action="{%url 'home'%}">
              {% csrf_token %}
              <div class="button-input-group">
                <div class="input-group mb-3">
                  <input type="text" name="fname" aria-label="First name" placeholder="First name"
                         class="form-control form-control-lg"
                         value="{{fname}}" disabled>
                  <input type="text" name="lname" aria-label="Last name" placeholder="Last name"
                         class="form-control form-control-lg"
                         value="{{lname}}" disabled>
                </div>
                <div class="input-group mb-3">
                  <input type="text" name="username" class="form-control form-control-lg" placeholder="Username"
                         aria-label="Username" value="{{username}}" disabled>
                </div>
                <div class="input-group mb-3">
                  <input type="email" name="email" class="form-control form-control-lg" placeholder="Email"
                         aria-label="email" value="{{email}}" disabled>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupSelect01">Time zone:</label>
                  <select name="userTimezone" class="form-control form-control-lg" id="inputGroupSelect01">
                    <option value="{{selectedTimeZone}}" selected>{{ selectedTimeZone }}</option>
                    {% for tz in timezones %}
                    <option value="{{ tz }}"{% if tz == TIME_ZONE %}{% endif %}>{{ tz }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="input_field mb-3">
                  <label class="form-check-label"><h5>User Type: </h5></label><br>
                  <div class="form-check form-check-lg form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                           value="{{selectedRoleType}}" checked/>
                    <label class="form-check-label" for="inlineRadio1"><h5>{{selectedRoleType}}</h5></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                           value="{{nonSelectedRoleType}}"/>
                    <label class="form-check-label" for="inlineRadio2"><h5>{{nonSelectedRoleType}}</h5></label>
                  </div>
                </div>
              </div>
              <div class="group button-group">
                <button class="btn primary-btn">
                  <span>Save Changes</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section id="main">
    <div class="container">
      <h1 id="mainTitle">Welcome to AudioBid !!</h1>
      <h1 >A web application which will auction off small jobs to a pool of online workers.
          The jobs will be posted online by the creators, to be claimed by the workers at the given price.
          Under the claimed jobs section, all the claimed jobs will be visible to the creators,
          but the worker can only see the jobs claimed by them. Once that job is done, the creator will review the job and rate it.
      </h1>
    </div>
</section>
{% endif %}
<!--End of main section-->
{% endblock %}