{% extends "home/baseHome.html" %}
{% load static %}
{% block script %}
    <script type="text/javascript">
$(function () {
  $('.example-popover').popover({
    container: 'body'
  })
})
</script>
{% endblock %}
{% block title %} Jobs Page {% endblock title%}
{% block content %}

<div class="container">
    <div class="card-deck">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <div class="card-header">
                    <h4>Jobs<span class="btn btn-secondary float-right mt-2">
                        {{myFilter.form}}</span></h4>
                </div>
                {% for job in posts %}
                <a href="#list-job{{job.id}}" role="tab"> {{job.name}}
                    <span class="badge badge-primary float-right mt-2">{{job.status}}</span></a>
                {% endfor %}
                <div>
                    <nav aria-label="Page navigation example" >
                        <ul class="pagination">
                            <li class="page-item">
                                {% if posts.has_previous %}
                                <a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a>
                                {% endif %}
                            </li>
                            <li class="page-item">
                                <a class="page-link">Page {{posts.number}} of {{posts.paginator.num_pages}}</a>
                            </li>
                            <li class="page-item">
                                {% if posts.has_next %}
                                <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <h4>Job Details</h4>
            </div>
            <div class="card-body">
                <div class="tab-content" id="nav-tabContent">
                    {% for job in posts %}
                    <div class="tab-pane fade show active" id="list-job{{job.id}}" role="tabpanel">
                        <h5 class="card-title">{{job.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    {% endfor %}
                    
                    <!--<div class="tab-pane fade" id="list-job2" role="tabpanel">
                        <h5 class="card-title">Job2</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="tab-pane fade" id="list-job3" role="tabpanel">
                        <h5 class="card-title">Job3</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="tab-pane fade" id="list-job4" role="tabp
                    anel">
                        <h5 class="card-title">Job4</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="tab-pane fade" id="list-job5" role="tabpanel">
                        <h5 class="card-title">Job5</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Create Job</button>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Provide Job Details</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{%url 'jobs_url'%}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="name">Job title:</label>
                                <textarea class="form-control" id="name" name="name" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="price">Job Price:</label>
                                <input type="text" class="form-control" name="price" id="price"/>
                            </div>
                            <div class="mb-3">
                                <label for="end_date">End date:</label>
                                <input type="date" id="end_date" name="end_date" value="2022-10-27" min="2022-10-27">
                            </div>
                            <div class="mb-3">
                                <label for="URL" class="form-label">Google Drive URL:</label>
                                <input class="form-control" type="url" id="URL" name="URL">
                            </div>
                            <div>[OR]</div>
                            <div class="mb-3">
                                <label for="audiofile" class="form-label">Upload Audio File</label>
                                <input class="form-control" type="file" id="audiofile" name="audiofile" accept="audio/*">
                            </div>
                            <div>[OR]</div>
                            <div class="mb-3">
                                <i id="red-dot" class="fa fa-circle text-danger-glow blink" style="display:none"></i>
                                <button type="button" class="btn btn-secondary" id="start-rec">Start Recording</button>
                                <button type="button" class="btn btn-secondary" id="stop-rec" style="display:none">Stop Recording</button>
                            </div>
                            <div class="mb-3">
                                <input type="file" id="recorded" name="recorded" style="display:none">
                                <audio src="" id="record-file" controls></audio>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% block script %}
<script src="/static/js/recorder.js"></script>
<script src="/static/js/audio-recorder.js"></script>
{% endblock %}
{% endblock %}