{% extends "home/baseHome.html" %}
{% load static %} 
{% block title %} Jobs Page {% endblock title%}
{% block content %}
<!-- <form action="{% url 'jobs_url' %}" method="get">
    {{ form }}
    <input type="submit" value="submit" class="btn btn-primary" />
</form> -->
<!-- {% for job in jobs %}
<tr>
    <td>{{ job.user }}</td>
    <td>{{ job.price }}</td>
    <td>{{ job.description }}</td>
</tr>
{% endfor %} -->
<div class="container">
    <div class="row">
        <div class="col-3">
            <h1>Filter tab</h1>
            <form action="{% url 'jobs_url' %}" method="get">
                {{ form }}
                <input type="submit" value="submit" class="btn btn-primary" />
            </form>
        </div>
        <div class="col-9">
            <h1>Job List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{ job.user }}</td>
                        <td>{{ job.price }}</td>
                        <td>{{ job.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}