{% extends "home/baseHome.html" %}
{% load static %}
{% block title %} Jobs Page {% endblock title%}
{% block content %}

{% block personalcss %}
<link rel="stylesheet" href="/static/css/job.css"/>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="list-group" id="list-tab" role="tablist">
                <h2>Jobs
                    <!--<span class="btn btn-secondary float-right mt-2">{{myFilter.form}}</span>-->
                    <span class="btn btn-secondary float-right mt-2 ml-2">Apply Filter</span>
                    {% if creator %}
                    <button class="btn-info btn btn-create-modal mt-2 float-right" type="button" data-toggle="modal" data-target="#myModal">Create Job</button>
                    {% endif %}
                </h2>
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Age</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in posts %}
                    <tr class='clickable-row'>
                        <th scope="row">{{job.id}}</th>
                        <td><a href="{% url 'detail_job_url'%}?id={{job.id}}" target="_blank">{{job.name}}</a></td>
                        <td>{{job.price}}</td>
                        <td>{{job.age}}</td>
                        <td><span class="badge {{job.status_badge}}">{{job.status}}</span></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <nav aria-label="Page navigation example" >
                        <ul class="pagination">
                            <li class="page-item">
                                {% if posts.has_previous %}
                                <a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a>
                                {% endif %}
                            </li>
                            <li class="page-item">
                                <a class="page-link">Page {{posts.number}} of {{posts.paginator.num_pages}}</a>
                            </li>
                            <li class="page-item">
                                {% if posts.has_next %}
                                <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!--CREATE JOB MODAL-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Provide Job Details</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{%url 'jobs_url'%}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="name">Title:</label>
                                <input type="text" class="form-control" id="name" name="name" required/>
                            </div>
                            <div class="mb-3">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="price">Job Price:</label>
                                <input type="text" class="form-control" name="price" id="price" required/>
                            </div>
                            <div class="mb-3">
                                <label for="end_date">End date:</label>
                                <input type="date" id="end_date" name="end_date" required>
                            </div>
                            <select id="DropDown" required>
                                <option value="">Choose Audio Option</option>
                                <option value="diva">Google Drive URL</option>
                                <option value="divb">Upload Audio File</option>
                                <option value="divc">Record Audio</option>
                            </select>

                            <div class="mb-3 drop-down-show-hide" id="diva">
                                <input class="form-control" type="url" id="URL" name="URL">
                            </div>
    
                            <div class="mb-3 drop-down-show-hide" id="divb">
                                <input class="form-control" type="file" id="audiofile" name="audiofile" accept="audio/*">
                            </div>
    
                            <div class="mb-3 drop-down-show-hide" id="divc"> 
                                <button type="button" class="btn-success rec-btn" id="start-rec">
                                    <i class="fa fa-record-circle"></i> Start
                                </button>
                                <button type="button" class="btn-info rec-btn" id="pause-rec" style="display:none">
                                    <i class="fa fa-pause-circle"></i> Pause
                                </button>
                                <button type="button" class="btn-warning rec-btn" id="resume-rec" style="display:none">
                                    <i class="fa fa-play-circle"></i> Resume
                                </button>
                                <button type="button" class="btn-secondary rec-btn" id="stop-rec" style="display:none">
                                    <i class="fa fa-stop-circle"></i> Stop
                                    <i id="red-dot" class="fa fa-circle text-danger-glow blink" style="display:none"></i>
                                </button>
                                <input type="file" id="recorded" name="recorded" style="display:none">
                                <audio src="" id="record-file" controls></audio>
                            </div>
                        </div>
                        <div id="submitBtn">
                            <button type="submit" class="btn btn-primary" id="createSaveBtn">Save</button>
                        </div>
                            
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--EDIT JOB MODAL-->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Job Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="name">Title:</label>
                            <input type="text" class="form-control" id="edit-name" name="name" required/>
                        </div>
                        <div class="mb-3">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="edit-description" name="description" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="price">Job Price:</label>
                            <input type="text" class="form-control" name="price" id="edit-price" required/>
                        </div>
                        <div class="mb-3">
                            <label for="end_date">End date:</label>
                            <input type="date" id="edit_end_date" name="end_date" required>
                        </div>

                        <select id="editDropDown" required>
                            <option value="">Choose Audio Option</option>
                            <option value="div1">Google Drive URL</option>
                            <option value="div2">Upload Audio File</option>
                            <option value="div3">Record Audio</option>
                        </select>

                        <div class="mb-3 drop-down-show-hide" id="div1">
                            <input class="form-control" type="url" id="edit-URL" name="URL">
                        </div>

                        <div class="mb-3 drop-down-show-hide" id="div2">
                            <input class="form-control" type="file" id="edit-audiofile" name="audiofile" accept="audio/*">
                        </div>

                        <div class="mb-3 drop-down-show-hide" id="div3">
                            <button type="button" class="btn-success rec-btn" id="edit-start-rec">
                                <i class="fa fa-record-circle"></i> Start
                            </button>
                            <button type="button" class="btn-info rec-btn" id="edit-pause-rec" style="display:none">
                                <i class="fa fa-pause-circle"></i> Pause
                            </button>
                            <button type="button" class="btn-warning rec-btn" id="edit-resume-rec" style="display:none">
                                <i class="fa fa-play-circle"></i> Resume
                            </button>
                            <button type="button" class="btn-secondary rec-btn" id="edit-stop-rec" style="display:none">
                                <i class="fa fa-stop-circle"></i> Stop
                                <i id="edit-red-dot" class="fa fa-circle text-danger-glow blink" style="display:none"></i>
                            </button>
                            <input type="file" id="edit-recorded" name="recorded" style="display:none">
                            <audio src="" id="edit-record-file" controls></audio>
                        </div>
                    </div>
                        <div id="submitBtn">
                            <button type="submit" class="btn btn-primary editSaveBtn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/job.js"></script>
<script src="/static/js/recorder.js"></script>
<script src="/static/js/create-job.js"></script>
<script src="/static/js/edit-job.js"></script>
{% endblock %}
