{% extends "registration/base.html" %}
{% block css %}
	<link rel="stylesheet" href="/static/css/new_password.css"/>
{% endblock %}
{% block content %}

  {% load crispy_forms_tags %}  
    <div class="card">
        <h5 class="card-header">Password Reset</h5>
        <div class="card-body">
            <p class="card-text">Please enter your new password.</p>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <div class="resetBtn">
                    <button class="btn btn-primary" type="submit">Reset password</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
