{% extends "registration/base.html" %}
{% load socialaccount %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}
{% block title %} Login Page {% endblock title%}
{% block content %} 
  <div class="container forms" id="container">			
    <div class="form sign-in">
      <form action="{%url 'login_url'%}" method="post">
        {% csrf_token %}
        <div class="header">Sign In</div>
        <div class="social__media__container">

          <a href="{% provider_login_url 'google' %}" class="social google">
            <i class="fa-brands fa-google"></i>
          </a>

        </div>
        <span class="under__social">or</span>
        <span class="under__social"></span>
        
      <div class="button-input-group">
        <div class="group input-group">
          <input type="email" name ="email" placeholder="Email" required>
        </div>
        <div class="group input-group">
          <input type="password" name="password" placeholder="Password" required pattern=".{5,}">
        </div>
        <div class="form-link forgot">
          <a href="#" class="login-link">Forgot your password?</a>
        </div>
        <div class="group button-group">
          <button class="signup-btn">
            <span>Sign in</span>
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>
{% endblock %}
